.dark-mode {
    --background-color: black;
    --projects: #3845D7;
    --about-me: darkcyan;
    --contacts: green;
    --h1-color: white;
    --h2-color: darkgrey;
    --h3-color: lightgray;
    --bg-image: url(/svgs/Dark\ Mode.svg); 
  }

  body:not(.dark-mode) {
    --background-color: white;
    --projects: #E00000;
    --about-me: #E04B00;
    --contacts: #E09600;
    --h1-color: black;
    --h3-color: #D1D0D0;
    --h2-color: darkgray;
    --bg-image: url(/svgs/Light\ Mode.svg);
  }
  

  body {
    background-color: var(--background-color);
  }   

  #NiKsvg{
      display: flex;
      position: absolute;
      width: 148px;
      height: 150px;
      top: 5%;
      right: 5%;
      background-image: var(--bg-image);
      overflow: hidden;
  }

  #NiKsvg:hover {
    cursor: pointer;
  }

  .svgFadeOut{
    animation: svgFadeOut 2s;
  }
  
  @keyframes svgFadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
  }
