*{
display: block;
padding-left: 2%;
}

body {
  background-color: black;
}

.text-wrapper{
  font-family:'Andale mono';
  width: 60vw;
  height: 50vh;
}

.text-wrapper h1{
  color: white;
  font-size: 8vh;
}

.text-wrapper h2 {
  color: lightgray;
  font-size: 5vh;
}

.text-wrapper h3 {
  color: darkgray;
  font-size: 3vh;
}

.circle{
  display: block;
 border-radius: 50% 0% 0% 0%;
 position: absolute;
}

.magenta {
  background-color: magenta;
  height: 66vh;
  width: 39vw;
  right:  0px;
  bottom: 0px;
  z-index: 1;
}

.cyan {
  background-color: cyan;
  height: 48vh;
  width: 28vw;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.yellow {
  background-color: yellow;
  height: 30vh;
  width: 18vw;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}


.text {
  font-family: 'Andale Mono';
  font-weight: bolder;
}

.regular-font {
  font-display: flex;
  text-align: right;
  font-size: 50px;
}

.corner {
  display: flex;
  position: absolute;
  font-size: 90px;
}

.p {
  bottom: 50%;
  right: 75%;
}

.a {
  bottom: 35%;
  right: 70%;
}

.c{
  bottom: 10%;
  right: 60%;
}

.mirror{
  transform: scale(-1, 1);
  color: black;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1), rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-size: 50px;
}
