*{
display: block;
padding-left: 2%;
}

body {
  background-color: black;
}

.text-wrapper{
  font-family:'Andale mono';
  width: 60vw;
  height: 50vh;
}

.text-wrapper h1{
  color: white;
  font-size: 8vh;
}

.text-wrapper h2 {
  color: lightgray;
  font-size: 5vh;
}

.text-wrapper h3 {
  color: darkgray;
  font-size: 3vh;
}

.circle{
  display: block;
 border-radius: 50% 0% 0% 0%;
 position: absolute;
}

.magenta {
  background-color: #A35BD1;
  height: 66vh;
  width: 38vw;
  right:  0px;
  bottom: 0px;
  z-index: 1;
}

.cyan {
  background-color: #5BBCD1;
  height: 48vh;
  width: 28vw;
  right: 0px;
  bottom: 0px;
  z-index: 2;
}

.yellow {
  background-color: #5BD186;
  height: 30vh;
  width: 18vw;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.text {
  font-family: 'Andale Mono';
  font-weight: bolder;
}

.regular-font {
  font-display: flex;
  text-align: right;
  font-size: 50px;
}

#purpleSvg{
  position: absolute;
  transform: rotate(310deg);
  -webkit-transform: rotate(310deg);
  bottom: 150px;
  left: 65px;
}
