*{
    font-family: 'Andale mono';
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--projects);
}

a:hover{
  cursor: pointer;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 5em;
    font-weight: bolder;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity: 0};
    100% {opacity: 1};
}

.circle{
    display: block;
   border-radius: 90% 0% 0% 0%;
   position: absolute;
   box-shadow: 10px 10px 50px black;
  }
  .aboutMeTab {
    background-color: var(--about-me);
    height: 50vh;
    width: 28vw;
    right: 0px;
    bottom: 0px;
    z-index: 2;
  }
  
  .aboutMeTab:hover {
    height: 52vh;
    width: 29vw;
  }
  
.aboutMeTransition{
    animation: aboutMeTabTransition 3s;
  }

  @keyframes aboutMeTabTransition {
    0% {  height: 50vh;
          width: 28vw; }
    100% {  height: 150%;
      width: 150%; }
  }

  .contactsTab {
    background-color: var(--contacts);
    height: 32vh;
    width: 18vw;
    right: 0px;
    bottom: 0px;
    z-index: 3;
  }
  
  .contactsTab:hover {
    height: 34vh;
    width: 20vw;
  }
  
.contactsTransition{
    animation: contactsTabTransition 3s;
  }

  @keyframes contactsTabTransition {
    0% {  height: 32vh;
          width: 18vw; }
    100% {  height: 150%;
      width: 150%; }
  }

  .black {
    display: flex;
    background-color: var(--background-color);
    color: var(--h1-color);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    height: 18vh;
    width: 9vw;
    right: 0px;
    bottom: 0px;
    z-index: 4;
  }
  
  .black:hover {
    height: 20vh;
    width: 11vw;
  }

  .homeTransition{
    animation: homeTabTransition 3s;
  }

  @keyframes homeTabTransition {
    0% {  height: 20vh;
          width: 11vw; 
          color: var(--background-color)}
    100% {  height: 150%;
      width: 150%; 
      color: var(--background-color)}
  }
  
  .regular-font {
    font-display: flex;
    text-align: right;
    font-size: 50px;
  }
  
  #aboutMeSvg{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
  #contactSvg{
    position: absolute;
    right: 0;
    bottom: 0;
  } 
