*{
    font-family: 'Andale mono';
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--contacts);
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 5em;
    font-weight: bolder;
    animation: fadeIn 3s;
}

#icon-shadow{
  box-shadow: 8px 8px 5px Black;
  border: 2px solid black;
  border-radius: 10%;
}

li{
  animation: rollIn 3s;
}

@keyframes rollIn {
  0%{transform: translate3d(-50px, 0, 0);}
  100%{transform: translate3d(0, 0, 0);}
}

.contact-list{
  display: flex;
  position: absolute;
  animation: fadeIn 3s;
  left: 2%;
  font-size: 4em;
  padding: 5%;
}

a{
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

a:hover{
  cursor: pointer;
}

@keyframes fadeIn {
    0% {opacity: 0};
    100% {opacity: 1};
}

.fa-github{
  color: white;
  background-color: black;
}

.fa-linkedin{
  background-color: white;
  color: darkblue;
}

.fa-envelope{
  color: white;
  background-color: black;
}

.fa-codepen{
  color: white;
  background-color: purple;
}

.circle{
    display: block;
   border-radius: 90% 0% 0% 0%;
   position: absolute;
   box-shadow: 10px 10px 50px black;
  }

.aboutMeTab {
    background-color: var(--about-me);
    height: 50vh;
    width: 28vw;
    right: 0px;
    bottom: 0px;
    z-index: 2;
  }
  
.aboutMeTab:hover {
    height: 52vh;
    width: 29vw;
  }

.aboutMeTransition{
    animation: aboutMeTabTransition 3s;
  }

@keyframes aboutMeTabTransition {
    0% {  height: 50vh;
          width: 28vw; }
    100% {  height: 150%;
      width: 150%; }
  }
  
.projectsTab {
    background-color: var(--projects);
    height: 32vh;
    width: 18vw;
    right: 0px;
    bottom: 0px;
    z-index: 3;
  }
  
.projectsTab:hover {
    height: 34vh;
    width: 20vw;
  }

.projectsTransition{
    animation: projectsTabTransition 3s;
  }

@keyframes projectsTabTransition {
    0% {  height: 32vh;
          width: 18vw; }
    100% {  height: 150%;
      width: 150%; }
  }
  
.black {
    display: flex;
    background-color: var(--background-color);
    color: var(--h1-color);
    font-size: 50px;
    align-items: center;
    justify-content: center;
    height: 18vh;
    width: 9vw;
    right: 0px;
    bottom: 0px;
    z-index: 4;
  }
  
.black:hover {
    height: 20vh;
    width: 11vw;
  }

.homeTransition{
    animation: homeTabTransition 3s;
  }

@keyframes homeTabTransition {
    0% {  height: 20vh;
          width: 11vw; 
          color: var(--background-color)}
    100% {  height: 150%;
      width: 150%;
      color: var(--background-color) }
  }

.regular-font {
    font-display: flex;
    text-align: right;
    font-size: 50px;
  }

#cyanSvg{
    position: absolute;
    bottom: 0;
    right: 0;
  }
  
#greenSvg{
    position: absolute;
    right: 0;
    bottom: 0;
  } 
